<html>
    <body>
        <h2>Credit Default Analysis</h2>
        <form action = "/" method = "post">
            <p>Please upload your income in the text box:</p>
            <p><Input type = "number" name = "income" ></p>
            <p>Please upload your age in the text box:</p>
            <p><Input type = "number" name = "age" ></p>
            <p>Please upload your loan in the text box:</p>
            <p><Input type = "number" name = "loan" ></p>
            <p><Input type = "submit" value = "Enter"></p>
            </form>
            <p> The credit default score for DecisionTree is {{result1}}</p>
            <p> The credit default score for RandomTree is {{result2}}</p>
            <p> The credit default score for XGBoost is {{result3}}</p>
    </body>
</html>